PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=REEMPLAZAR_CON_UN_SECRETO_ALEATORIO_DE_MAS_DE_32_CARACTERES
JWT_EXPIRES_IN=1h
DB_USER=postgres
DB_PASSWORD=CAMBIAR_ESTA_CLAVE
DB_HOST=localhost
DB_PORT=5432
DB_NAME=unamad_control_vehicular
DB_POOL_MAX=10
DB_SSL=false
